body.algemeen {
	width: 800px;
	margin: auto;
	text-align: left;
	font-size:12px;
	color:gray;
  background-color:white;
}

header.title {
	font-size: 24px;
	text-align: center;
}

ul.menu li {
	display: inline;
	border-style: double;
	background-color: blue;
  margin-left: 10px;
}

ul.menu a {
	color:white;
	text-decoration:none;
}

ul.items li{
	display:inline-block;
	border-style: double;
}

a.product_text{
	text-decoration: none;
	color: black;
}

span.price{
	background-color: rgb(250, 49, 49);
	color: white;
}

footer {
	color: white;
	text-align: right;
	background-color:black;
	font-size:10px;
}	

fieldset.persoon label{
  display: inline-block;
  float: left;
  clear: left;
  width: 150px;
  text-align: left;
}

fieldset.persoon input, select, textarea {
	width: 400px;
}

fieldset.persoon input[type=radio], input[type=submit] {
 	width: auto; 
 }  
 
fieldset.communication input:after{
  content:"\a";
  white-space: pre;
}

fieldset.communication{
  width: 390px;
}

form.contact span {
  font-size:10px;
	color:red
}


input.submit {
  margin-left:150px;
}

div.container {
	display: grid;
	align-items: center; 
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 5px;
 }

div.container div.img {
  max-width: 500;
  max-height:500;
}

div.container div.item {
	width:200;
	height:500;
	text-align:right;
}

div.cartItem {
	display: grid;
	align-items: center; 
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 5px;
 }



/* outdated
fieldset.persoon label:before{
	content:"\a";
    white-space: pre;
}
*/
 


